*, *::after, *::before {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul, ol, li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-size: inherit;
}

html, body {
   height: 100%;
   line-height: 1;
   font-size: 20px;
   font-family: Ubuntu;
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   color: #b69b67;
   background-color: #303030;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

._container {
   max-width: 1046px;
   padding: 0 15px;
   margin: 0 auto;
   box-sizing: content-box;
}

/******************----HEADER----******************/

.header {
   position: fixed;
   width: 100%;
   z-index: 1000;
   background-color: #303030;
   -webkit-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
   -moz-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
   box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
}

.header__container {
   display: flex;
   align-items: center;
   min-height: 145px;
}

.header__logo {
   font-family: 'Playfair Display SC';
   font-size: 40px;
   line-height: inherit;
   font-weight: 400;
   text-transform: inherit;
   color: inherit;
}

.header__burger {
   display: none;
}

.header__menu {
   margin: 0 0 0 200px;
}

.menu {
   padding: 5px 0;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
}

.menu__item {}

.menu__item {
   margin: 0 30px 0 0;
}

.menu__link {
   font-size: 20px;
   line-height: 1.2;
   font-weight: 300;
   text-transform: inherit;
   color: #b4b4b4;
   line-height: calc(30 / 18 * 100%);
}

/****************-----LAMP----*******************/

.lamp__section {
   margin-top: 160px;
}