*, *::after, *::before {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul, ol, li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-size: inherit;
}

html, body {
   height: 100%;
   line-height: 1;
   font-size: 20px;
   font-family: Ubuntu;
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   color: #b69b67;
   background-color: #303030;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /* Remove default arrow */
   background-color: inherit;
   /* Add custom arrow */
}

input {
   display: none;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1046px;
   padding: 0 15px;
   margin: 0 auto;
   box-sizing: content-box;
}

._service-container {
   max-width: 1456px;
   padding: 0 15px;
   margin: 0 auto;
   box-sizing: content-box;
}

._service_content {
   position: relative;
   width: 100%;
   height: 100%;
}

/******************----HEADER----******************/

.header {
   position: fixed;
   width: 100%;
   z-index: 1000;
   background-color: #303030;
   -webkit-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
   -moz-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
   box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
}

.header__container {
   display: flex;
   align-items: center;
   min-height: 90px;
}

.header__logo {
   font-family: 'Playfair Display SC';
   font-size: 40px;
   line-height: inherit;
   font-weight: 400;
   text-transform: inherit;
   color: inherit;
   margin-right: 50px;
}

.header__burger {
   display: none;
}

.header__menu {
   margin-left: auto;
   margin-right: 0;
   padding: 5px 0;
}

/*
.menu {}*/

.menu__list {
   display: flex;
   flex-wrap: wrap;
}

.menu__item {}

.menu__item {
   margin: 0 30px 0 0;
}

.menu__link {
   font-size: 20px;
   line-height: 1.2;
   font-weight: 300;
   text-transform: inherit;
   color: #b4b4b4;
   line-height: calc(30 / 18 * 100%);
}

/****************-----FOOTER----*******************/

.footer__section {
   width: 100%;
   height: 100%;
}

.fire {
   max-height: 900px;
   min-height: 100px;
   text-align: center;
}

.footer__img {
   opacity: 0.7;
   width: 50%;
   height: 50%;
}

/****************-----MAIN----*******************/

.main {
   flex: 1 1 auto;
}

/****************-----LAMP----*******************/

.lamp__section {
   margin-top: 100px;
   position: relative;
}

.lamp__container {
   position: relative;
   text-align: center;
}

.img__lamp-cover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(48, 48, 48, 0.56);
   z-index: 2;
}

.lamp {
   position: relative;
   opacity: 1;
}

.lamp img {
   z-index: 1;
}

.lamp__title {
   z-index: 3;
   font-family: Ubuntu;
   font-size: 60px;
   line-height: 1.2;
   font-weight: 300;
   text-transform: uppercase;
   /*color: #636363;*/
   /*color: transparent;*/
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-image: radial-gradient(circle, #cfb37e, #373737);
}

/***************************************************SERVICE******************************************/

.service {
   position: relative;
   width: 100%;
   margin-top: 150px;
}

.service__container {}

.service__title {
   font-family: 'Playfair Display SC';
   font-size: 60px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #b4b4b4;
   text-align: center;
   margin-bottom: 70px;
}

.service-content {
   display: flex;
}

.service__list-items {
   margin: 0 25px 0 0;
   flex-grow: 2;
   display: flex;
   flex-direction: column;
}

.service__content {
   flex-grow: 3;
   width: 75%;
}

.service__list-item {
   cursor: pointer;
   display: block;
   font-family: Ubuntu;
   line-height: 30px;
   font-weight: 300;
   text-transform: uppercase;
   font-size: 30px;
   color: #b4b4b4;
   border: 0px solid #b4b4b4;
   transition: all 0.3s ease 0s;
}

.service__list-item:not(:last-child) {
   margin-bottom: 70px;
}

.service_list_active {
   border-top: 1px solid #b69b67;
   border-bottom: 1px solid #b69b67;
   font-family: Ubuntu;
   font-size: 40px;
   line-height: 60px;
   font-weight: 300;
   text-transform: uppercase;
   color: #b69b67;
}

.service__content-description p {
   font-family: Ubuntu;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 300;
   color: #b4b4b4;
}

.service__content-description a {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   font-weight: inherit;
   color: #b69b67;
}

.service__content-description {
   position: absolute;
   left: 50px;
   max-width: 480px;
   z-index: 800;
}

.service__content-img {
   position: absolute;
   top: 0;
   left: 100px;
}

.service__content-img img {
   width: 80%;
}

._service__content-item {
   position: relative;
   transition: opacity 1s;
}

.web {
   display: block;
}

.logo {
   display: none;
}

._service__content-item.logo.service__content-description {
   top: 150px;
}

.ui {
   display: none;
}

._service__content-item.ui.service__content-description {
   top: 300px;
}

.photo {
   display: none;
}

/******************************************portfolio**********************/

.portfolio {
   width: 100%;
   margin-top: 250px;
}

.portfolio__container {}

._service-container {}

.portfolio__title {
   text-align: center;
   font-family: 'Playfair Display SC';
   font-size: 60px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   color: #b4b4b4;
}

.potfolio__menu {
   margin: 0 auto;
   margin-top: 50px;
   width: 100%;
   height: 100%;
   padding: 0;
}

.portfolio__menu a {
   text-decoration: none;
}

.portfolio__menu li {
   list-style: none;
}

.portfolio__menu-list {
   justify-content: space-around;
   display: flex;
}

.portfolio__menu-list li {
   width: 250px;
   height: 60px;
   border: 1px solid #b4b4b4;
}

.portfolio__menu-list span {
   /*display: block;
   text-align: center;
   line-height: 60px;
   margin: 0;*/
}

.portfolio__menu-link {
   margin: 15px 26px;
   display: block;
}

.portfolio__menu-list li {
   position: relative;
   cursor: pointer;
}

.portfolio__menu-list li:hover .portfolio__sub-menu-list {
   display: block;
}

.portfolio__menu-list li:hover .portfolio__menu-link {
   color: #b4b4b4;
}

.portfolio__sub-menu-list {
   display: none;
   z-index: 1000;
   position: absolute;
   top: 50px;
   left: -2px;
   border: 1px solid #b4b4b4;
}

.portfolio__sub-menu-list li {
   background: #373737;
   margin: 0;
   border: 0;
}

.portfolio__sub-menu-list li:hover {
   color: #b69b67;
}

.portfolio__sub-menu-link {
   display: inline-block;
   line-height: 60px;
   padding: 0 0 0 10px;
   color: #b4b4b4;
}

.portfolio__arrow-to-sub-menu-link {}

.portfolio__arrow {
   position: absolute;
   right: 15px;
   top: 23px;
   width: 0;
   height: 0;
   border-top: 10px solid #b4b4b4;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
}

body.mouse .portfolio__menu-list>li:hover .portfolio__sub-menu-list {
   display: block;
}

.portfolio__items {
   width: 100%;
   max-height: 550px;
   min-height: 250px;
   height: auto;
   max-height: fit-content;
   margin-top: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   grid-gap: 25px 25px;
}

.portfolio__item {
   overflow: hidden;
   position: relative;
   max-width: 650px;
   height: 270px;
   width: auto;
}

.portfolio__item-content {
   z-index: 3;
   position: absolute;
   width: 45%;
   height: 100%;
   right: 0;
   top: 0;
   background-color: #b69b67;
}

.portfolio__item-content__title {
   justify-content: center;
   display: block;
   margin: 25px 0 0 25px;
   font-family: Ubuntu;
   font-size: 30px;
   line-height: 1.2;
   font-weight: 400;
   text-transform: uppercase;
   color: #303030;
}

.portfolio__item-content__info {
   margin: 25px 0 0 25px;
   justify-content: left;
   display: block;
   font-family: Ubuntu;
   font-size: 14.1px;
   line-height: 20px;
   font-weight: 500;
   color: #303030;
}

.portfolio__item-content__signature {
   position: absolute;
   display: block;
   font-family: Ubuntu;
   font-size: 12px;
   font-weight: 300;
   font-style: italic;
   color: #303030;
   right: 0;
   bottom: 0;
   margin: 15px 15px;
}

.portfolio__item-bg {
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: #303030;
   opacity: 0.5;
}

.portfolio__items-btn {
   display: block;
   text-align: center;
   margin-top: 25px;
}

.portfolio__items-btn span:not(:last-child) {
   border-right: 1px solid #b4b4b4;
}

.portfolio__items-btn span:not(:first-child) {
   border-left: 1px solid #b4b4b4;
}

.portfolio__items-btn span {
   margin: 0;
   padding: 0 10px;
   font-family: Ubuntu;
   font-size: 18px;
   line-height: 20px;
   font-weight: 500;
   text-transform: uppercase;
   color: #b4b4b4;
}