@media (max-width:992px) {
   .header__container {
      min-height: 110px;
   }
   .header__logo {
      font-size: 35px;
   }
   .header__menu {
      margin: 0 0 0 100px;
   }
   .menu__link {
      font-size: 15px;
   }
   .lamp__section {
      margin-top: 125px;
   }
}

@media (max-width:767px) {
   ._container {
      padding: 0;
   }
   .header__burger {
      display: block;
      position: absolute;
      top: 20px;
      right: 5%;
      width: 40px;
      height: 30px;
   }
   .header__burger span {
      position: absolute;
      background-color: #b4b4b4;
      left: 0;
      width: 100%;
      height: 2px;
      top: 13px;
   }
   .header__burger::after, .header__burger::before {
      content: '';
      background-color: #b4b4b4;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
   }
   .header__burger::before {
      top: 0;
   }
   .header__burger::after {
      bottom: 0;
   }
   .header__container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #303030;
   }
   .header__logo {
      position: absolute;
      top: 20px;
      left: 40%;
      font-size: 25px;
   }
   .header__menu {
      background-color: #232323;
      position: relative;
      display: block;
      margin: 0 auto;
      top: 80px;
      width: 90%;
      height: 100%;
   }
   .menu__link {
      font-size: 13px;
      margin: 0 0 0 10px;
   }
   .menu__list {
      display: block;
   }
   .menu__item {
      margin: 10px 0 10px 0;
   }
   .menu__link {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
   }
   .menu__link:hover {
      background-color: #303030;
   }
   .lamp__section {
      margin-top: 105px;
   }
}

@media (max-width:479px) {
   .header__burger {
      display: block;
      position: absolute;
      top: 20px;
      right: 40px;
      width: 30px;
      height: 16px;
   }
   .header__burger span {
      position: absolute;
      background-color: #b4b4b4;
      left: 0;
      width: 100%;
      height: 2px;
      top: 7px;
   }
   .header__container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #303030;
   }
   .header__logo {
      position: absolute;
      top: 15px;
      left: 35%;
   }
   .header__menu {
      background-color: #232323;
      position: relative;
      display: block;
      margin: 0 auto;
      top: 57px;
      width: 90%;
      height: 100%;
   }
   .menu__item {
      margin: 10px 0 10px 0;
   }
   .menu__link {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
   }
   .menu__link:hover {
      background-color: #303030;
   }
   .lamp__section {
      margin-top: 85px;
   }
}