@media (max-width:992px) {
   .header__container {
      min-height: 80px;
   }
   .header__logo {
      font-size: 35px;
   }
   .header__menu {
      margin: 0 0 0 100px;
   }
   .menu__link {
      font-size: 15px;
   }
   .lamp__section {
      margin-top: 125px;
   }
}

@media (max-width:767px) {
   body.lock {
      overflow: hidden;
   }
   .header__burger {
      display: block;
      position: absolute;
      top: 20px;
      right: 5%;
      width: 40px;
      height: 30px;
   }
   .header__burger span {
      position: absolute;
      background-color: #b4b4b4;
      left: 0;
      width: 100%;
      height: 2px;
      top: 13px;
      transition: all 0.3s ease 0s;
   }
   .header__burger.active span {
      transform: scale(0);
   }
   .header__burger.active::before {
      transform: rotate(45deg);
      top: 14px;
   }
   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 14px;
   }
   .header__burger::after, .header__burger::before {
      content: '';
      background-color: #b4b4b4;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before {
      top: 0;
   }
   .header__burger::after {
      bottom: 0;
   }
   .header__container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: #303030;
      border-bottom: 2px solid #232323;
      -webkit-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
   }
   .header__container._container {
      padding: 0;
   }
   .header__logo {
      position: absolute;
      top: 20px;
      left: 40%;
      font-size: 25px;
   }
   .header__menu {
      background-color: #232323;
      position: absolute;
      display: block;
      top: -200%;
      width: 99%;
      margin: 0;
      transition: all 0.3s ease 0s;
   }
   .header__menu.active {
      overflow: auto;
      top: 85px;
      max-height: inherit;
      margin: 0;
   }
   .menu__link {
      font-size: 13px;
      margin: 0 0 0 10px;
   }
   .menu__list {
      display: block;
   }
   .menu__item {
      margin: 10px 0 10px 0;
   }
   .menu__link {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
   }
   .menu__link:hover {
      background-color: #303030;
   }
   .lamp__section {
      margin-top: 105px;
   }
}

@media (max-width:479px) {
   body.lock {
      overflow: hidden;
   }
   .header__burger {
      display: block;
      position: absolute;
      top: 20px;
      right: 5%;
      width: 30px;
      height: 16px;
   }
   .header__burger span {
      position: absolute;
      background-color: #b4b4b4;
      left: 0;
      width: 100%;
      height: 2px;
      top: 7px;
      transition: all 0.3s ease 0s;
   }
   .header__burger.active span {
      transform: scale(0);
   }
   .header__burger.active::before {
      transform: rotate(45deg);
      top: 7px;
   }
   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 7px;
   }
   .header__container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: #303030;
      border-bottom: 2px solid #232323;
      -webkit-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 12px 5px 0px rgba(0, 0, 0, 0.36);
   }
   .header__container._container {
      padding: 0;
   }
   .header__logo {
      position: absolute;
      top: 15px;
      left: 35%;
   }
   .header__menu {
      background-color: #232323;
      position: absolute;
      display: block;
      top: -200%;
      width: 99%;
      margin: 0;
      transition: all 0.3s ease 0s;
   }
   .header__menu.active {
      overflow: auto;
      top: 85px;
      max-height: inherit;
      margin: 0;
   }
   .menu__link {
      font-size: 13px;
      margin: 0 0 0 10px;
   }
   .menu__list {
      display: block;
   }
   .menu__item {
      margin: 10px 0 10px 0;
   }
   .menu__link {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
   }
   .menu__link:hover {
      background-color: #303030;
   }
   .lamp__section {
      margin-top: 105px;
   }
}

/************************************************ sevice *********************************************/

@media (max-width:992px) {
   .lamp__section {
      margin-top: 80px;
   }
   .lamp img {
      width: 209px;
      height: 239px;
   }
   .lamp__title {
      font-size: 35px;
   }
}

@media (max-width:767px) {
   .lamp__section {
      margin-top: 80px;
   }
   .lamp img {
      width: 159px;
      height: 189px;
   }
   .lamp__title {
      font-size: 35px;
   }
}

/********************service**************************/

@media (max-width:992px) {
   .service__title {
      font-size: 50px;
   }
   .service__list-item {
      font-size: 20px;
   }
   .service__list-item:hover {
      line-height: 80px;
      font-size: 25px;
   }
   .service__list-item:not(:last-child) {
      margin-bottom: 60px;
   }
}

@media (max-width:767px) {
   .service__content {
      width: 100%;
      height: 300px;
   }
   .service__title {
      font-size: 50px;
      margin-bottom: 45px;
   }
   .service__list-item {
      position: relative;
      text-align: center;
      width: 100%;
      font-size: 15px;
   }
   .service__list-item:hover {
      line-height: 35px;
      padding: 0 10px 0 10px;
      font-size: 15px;
      border-top: 0px solid #b69b67;
      border-bottom: 0px solid #b69b67;
      border-right: 1px solid #b69b67;
      border-left: 1px solid #b69b67;
   }
   .service__list-item:not(:last-child) {
      margin-bottom: 0;
   }
   .service-content {
      flex-direction: column;
   }
   .service__list-items {
      flex-grow: 0;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
   }
   .service__content {
      flex-grow: 0;
      display: block;
   }
   .service__content-description {
      position: relative;
      width: 90%;
      margin: 0 auto;
      left: 0;
      top: 0;
      z-index: 800;
   }
   .service__content-img {
      display: block;
   }
}

@media (max-width:479px) {
   .service__list-items {
      display: flex;
      flex-wrap: wrap;
   }
   .service__list-item {
      width: 40%;
      margin: 5px;
   }
   .service__list-item:hover {
      line-height: 35px;
      padding: 0 10px 0 10px;
      font-size: 15px;
      border: 1px solid #b69b67;
   }
}

/************************PORTFOLIO************/

@media (max-width:1280px) {
   .portfolio__items {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-gap: 25px 25px;
   }
}

@media (max-width: 992px) {
   .portfolio {
      margin-top: 50px;
   }
   .portfolio__title {
      font-size: 50px;
   }
   .portfolio__item {
      width: 100%;
      height: 180px;
      margin: 0 auto;
   }
   .portfolio__item-content__title {
      font-size: 20px;
   }
   .portfolio__item-content__info {
      font-size: 10.1px;
   }
   .portfolio__item-content__signature {
      font-size: 9px;
   }
}

@media (max-width:767px) {}

@media (max-width:479px) {}